{% extends 'inc/_layout.html' %} {% block body %}{% include 'inc/_navbar.html'%}
<div class="container">
    <div class="st-grid"><img src="{{result.data.results[0].thumbnail.path}}.{{result.data.results[0].thumbnail.extension}}" alt="" class="preview"></div>
    <div class="About">
        <p class="btn">id: #{{result.data.results[0].id}}</p><br> Title: {{result.data.results[0].title}}

        <br><br> {% if result.data.results[0].description %}
        <p>Description : {{result.data.results[0].description}}
        </p>{% endif %}
        <hr style="margin:10px 0;">
        <p>Total pages : {{result.data.results[0].pageCount}}</p>
        <p>format: {{result.data.results[0].format}}</p>
        {% for url in result.data.results[0].textObjects%}
        <p>type : {{url.type}}</p>
        <p>language :{url.language}</p>
        <p>
            About : {{url.text|safe}}
        </p> {% endfor %}
        <hr>
        <h1>Images</h1><br>
        <div class="comic-img">{% for img in result.data.results[0].images %}
            <img src="{{img.path}}.{{img.extension}}" alt="" class="imgprev"> {% endfor%}

        </div><br>
        <hr><br>
        <h4 style="float:left;border:1px solid #ddd;">{{result.data.results[0].prices[0].price}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><title>ic_attach_money_24px</title>
    <g fill="#e83030">
        <path d="M11.8 10.9c-2.27-.59-3-1.2-3-2.15 0-1.09 1.01-1.85 2.7-1.85 1.78 0 2.44.85 2.5 2.1h2.21c-.07-1.72-1.12-3.3-3.21-3.81V3h-3v2.16c-1.94.42-3.5 1.68-3.5 3.61 0 2.31 1.91 3.46 4.7 4.13 2.5.6 3 1.48 3 2.41 0 .69-.49 1.79-2.7 1.79-2.06 0-2.87-.92-2.98-2.1h-2.2c.12 2.19 1.76 3.42 3.68 3.83V21h3v-2.15c1.95-.37 3.5-1.5 3.5-3.55 0-2.84-2.43-3.81-4.7-4.4z"></path>
    </g>
</svg></h4>
        <center><a href="{{result.data.results[0].urls[0].url}}" class="btn" style="padding:8px 30px ;">Buy Now</a></center>
        </center><br>
    </div>
</div>

> {% endblock %}