{% extends 'inc/_layout.html' %} {% block body %}{% include 'inc/_navbar.html'%}
<div class="jumbotron">
    <h1>Search Comics</h1><br>
    <form action="/comicsearch" method="POST" class="form-group">
        <input type="text" name="Search" placeholder="Search Marvel Comics..." class="form-control">
        <button type="submit" class="btn btn-primary">Search</button>
    </form><br>
    <hr><br>
    <h3>Search With Year</h3><br>
    <hr><br>
    <form action="/comicsearchyear" method="POST" class="form-group">
        <input type="text" name="Search" placeholder="Search Marvel Comics..." class="form-control">
        <select name="Year" placeholder="Search year..." class="form-control">
            <option value="2020">2020</option>{% for year in range(1950,2020)%}
        <option value="{{year}}">{{year}}</option>{% endfor%}</select>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

</div>

<div class="comics">
    <h1 class="heading">Comics</h1>
    <div class="comic_container-one"> {% for comic in comics.data.results %}
        <div class="comic_container_inner">
            <a href="/comics/{{comic.id}}"><img src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" alt="" class="cover"></a>
            <div class="description">
                <h4 style="text-align:center;margin-bottom:12px">{{comic.title}}</h4>
                <hr><br>
                <h4 style="float:left;border:1px solid #ddd;">{{comic.prices[0].price}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><title>ic_attach_money_24px</title>
    <g fill="#e83030">
        <path d="M11.8 10.9c-2.27-.59-3-1.2-3-2.15 0-1.09 1.01-1.85 2.7-1.85 1.78 0 2.44.85 2.5 2.1h2.21c-.07-1.72-1.12-3.3-3.21-3.81V3h-3v2.16c-1.94.42-3.5 1.68-3.5 3.61 0 2.31 1.91 3.46 4.7 4.13 2.5.6 3 1.48 3 2.41 0 .69-.49 1.79-2.7 1.79-2.06 0-2.87-.92-2.98-2.1h-2.2c.12 2.19 1.76 3.42 3.68 3.83V21h3v-2.15c1.95-.37 3.5-1.5 3.5-3.55 0-2.84-2.43-3.81-4.7-4.4z"></path>
    </g>
</svg></h4><br><br>
                <center><a href="{{comic.urls[0].url}}" class="btn" style="padding:8px 30px ;">Buy Now</a></center>
                </center><br>
            </div>
        </div>{% endfor %}</div><br></div>
<div class="center">
    <div class="pagination" style="margin-top:50px">
        {%if prev == -1 %}{% else %}
        <a href="/comics/page/{{prev}}" class="active">Previous page</a>{% endif %} {% if number == 15 %}{% else %}
        <a href="/comics/page/{{number}}" class="active">Next page</a>{% endif %}
    </div>
</div>
<div class="footer">
    <ul>
        <a href="#">
            <li>Blog</li>
        </a>
        <a href="#">
            <li>RSS</li>
        </a>
        <a href="#">
            <li>instagram</li>
        </a>
        <a href="https://github.com/Appii00">
            <li>GitHub</li>
        </a>
        <a href="https://developer.marvel.com/docs#!/public/getCreatorCollection_get_12">
            <li>API</li>
        </a>

    </ul>
    <br>
    <hr>
    <br>
    <a>Made by Ansh Rathod.</a><br>
    <a>Code created in Python flask app</a><br>
    <a>Based on coustum css. Icons from Font Awesome. Web fonts from Google.</a>
    <br><br>
</div>
{%endblock%}