<svg class="menu" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><title>ic_menu_48px</title>
    <g fill="#ffffff">
        <path d="M6 36h36v-4H6v4zm0-10h36v-4H6v4zm0-14v4h36v-4H6z"></path>
    </g>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" class="menu1 finish" width="48" height="48" viewBox="0 0 48 48"><title>ic_close_48px</title>
    <g fill="#ffffff">
        <path d="M38 12.83L35.17 10 24 21.17 12.83 10 10 12.83 21.17 24 10 35.17 12.83 38 24 26.83 35.17 38 38 35.17 26.83 24z"></path>
    </g>
</svg>
<nav class="navbar">
    <div class="navbar-container">
        <a href="/"><img src="{{url_for('static',filename='img/marvel.png')}}" class="marvel_logo"></a>
    </div>



    <div class="nav finish"><a href="/">home</a><a href="/char/page/0">Charactores</a><a href="/comics/page/0">Comics</a></div>
</nav>